@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  overflow: hidden;
}
/* style.css */

form {
    width: 40%; /* Set form width */
    margin: 50px auto; /* Center the form horizontally */
    padding: 20px;
    border: 1px solid #ccc; /* Add border to the form */
    border-radius: 10px; /* Add border radius to make it rounded */
   background-color: rgba(255, 255, 255, 0.5);
}

h3 {
    text-align: center; /* Center align the heading */
    color: #F28705;
    font-size: 20px;
}

.content {
    margin-bottom: 20px;
}
span {
    font-size: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="tel"],
button[type="submit"] {
    width: calc(100% - 22px); /* Adjust input width to accommodate padding and border */
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
hover:.form-footer a .fa-arrow-circle-right{
color: #F28705;;
}
.form-footer a .fa-arrow-circle-right {
        transition: transform 0.3s;
         /* Add transition for smooth effect */
    }

    .form-footer a:active .fa-arrow-circle-right {
        transform: scale(2); 
    }/* Increase size on click */

.arrow-icon {
    text-align: center;
}
